<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
    <a class="navbar-brand" href="#">Pecunia Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/aboutUs">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Our services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account Management</a>
                    <a class="dropdown-item" href="#">Loan Management</a>
                    <a class="dropdown-item" href="#">Transaction Management</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--nav bar-->

<body>
    <p>
        Pecunia₹ Finance Limited, established in the year 2015, is an Indian private sector bank headquartered in
        Bangalore
        and is functioning only in Bangalore, India. In January 2019, Reserve Bank of India (RBI) issued the license to
        Pecunia₹ Finance Limited, to carry on banking business.
        They have one of the largest and most respected Wealth Management teams in India providing the widest range of
        solutions to individuals and employed professionals. As of December 30, 2018 Pecunia₹ has a net-worth of
        approximately Rs 730 crore and micro-finance loans of Rs 300 crore in its books.
        It offers a wide range of banking products and financial services for retail customers through a variety of
        delivery
        channels in the areas of personal finance, life insurance etc.
    </p>
    <p>Pecunia₹ Finance Limited has recorded substantial profit growth (18% profit in the third financial quarter of
        2018-2019) in all financial quarters, and its customer base is increasing, targets other metropolitan cities of
        India to open new branches and offer financial services.
        The market research conducted by the bank in the cities Mumbai, Chennai and Hyderabad to understand the
        satisfaction
        of customers about their bank’s financial services revealed the following data.
    </p>
    <p>
        To operate in the above mentioned cities, Pecunia₹ Finance Limited is expanding its business and is looking for
        centralized application which helps them to offer financial services in other cities too.
        Pecunia₹ Finance Limited has a target of opening 20 new branches in the current financial year across major
        cities of India.

    </p>
</body>