<div class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
        <a class="navbar-brand" href="/manager">Customer Section</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--add customer-->
    <div class="row stuff">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ADD CUSTOMER</h5>
                    <p class="card-text">Add new member to our family.</p>
                    <a href="#" class="btn btn-primary" routerLink="/register">ADD CUSTOMER</a>
                </div>
            </div>
        </div>
        <!--add customer-->
        <!--delete customer-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">UPDATE/DELETE CUSTOMER</h5>
                    <p class="card-text">Here you can update or delete customer info.</p>
                    <a href="#" class="btn btn-primary" routerLink="/delete">Update/delete customer</a>
                </div>
            </div>
        </div>
    </div>
    <!--delete customer-->
    <!--customer details-->
    <div class="styler">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer details</h5>
                    <p class="card-text">here you can see customer's personal information with valid customerId</p>
                    <a href="#" class="btn btn-primary" routerLink="/details">Customer Details</a>
                </div>
            </div>
        </div>
        <!--customer details-->
        <!--customer details-->
        <div class="acc">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ADD Account</h5>
                        <p class="card-text">here you can add account for existing customer</p>
                        <a href="#" class="btn btn-primary" routerLink="/addAccount">create account</a>
                    </div>
                </div>
            </div>
            <!--customer details-->
        </div>