<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/delete">Employee List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager">CUSTOMER SECTION</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--nav bar-->
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>PAN card</th>
                    <th>Aadhar card</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">

                    <td>{{customer.customerId}}</td>
                    <td>{{customer.customerName}}</td>
                    <td>{{customer.customerPAN}}</td>
                    <td>{{customer.customerAadhar}}</td>
                    <td>{{customer.customerContact}}</td>
                    <td><button (click)="deleteCustomer(customer.customerId)" class="btn btn-danger">Delete</button>
                        <button (click)="updateCustomer(customer.customerId)" class="btn btn-info"
                            style="margin-left: 10px">Update</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>